/* header section */
header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  padding: var(--base-padding);
  width: 100%;
  background: var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  z-index: 100;
}

header .navbar .logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar .logo-box i {
  color: var(--white);
  cursor: none;
}
header .navbar .logo-box i:hover {
  color: var(--black);
  transform: none;
}

header .navbar span {
  color: var(--white);
  font-size: 1.2rem;
  font-family: "Alice", serif;
}
@media (min-width: 600px) {
  header .navbar span {
    flex: 1;
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}

header .navbar .nav-link {
  color: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .navbar .nav-link li {
  font-size: 2rem;
}

header .order-items {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

header .order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 80vw;
}

header .order-item-list {
  border: 1px solid rgba(50, 50, 50, 0.5);
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
  overflow: hidden;
}

header .order-item {
  display: flex;
}

header .order-total {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .order-total .total-amount {
  font-weight: 800;
  margin-left: 3rem;
}

header .order-item .order-img-box {
  flex: 1;
}

header .order-item .order-content-box {
  flex: 2;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .order-item .order-content-box {
  font-weight: 600;
}

header .order-item .order-content-box div:nth-child(1),
header .order-item .order-content-box div:nth-child(2) {
  flex: 1;
}

header .order-item .order-content-box div:nth-child(2) {
  margin: 0 0.2rem;
}

header .order-button {
  display: flex;
  margin: 1rem;
}

header .clear-button,
header .checkout-button {
  margin: 0 1rem;
}

header .top-content .sphere {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 10;
}

header .top-content .sphere::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 100px 100px rgba(255, 255, 255, 0.5),
    inset 0 -100px 100px rgba(0, 0, 0, 1), inset 0 0 100px rgba(0, 0, 0, 1);
  z-index: 11;
}

header .top-content .sphere::after {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -50px;
  width: 400px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(#000, transparent, transparent);
  z-index: -1;
}
@media (max-width: 380px) {
  header .top-content .sphere::after {
    width: 300px;
    background: radial-gradient(rgba(0, 0, 0, 0.5), transparent, transparent);
  }
}

header .top-content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 2rem;
  text-align: center;
  color: var(--white);
  z-index: 10;
}

header .top-content .sphere video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  filter: blur(0);
}

header .toggle {
  display: none;
}
