* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 10vw;
  text-transform: uppercase;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

section {
  margin: 5rem 0;
}

i {
  cursor: pointer;
}
