/* layout-card sections */
.layout-card {
  /* height: 100vh; */
}

.layout-card .title {
  text-align: center;
  padding: 5rem 0 3rem 0;
}

.layout-card .cards {
  display: flex;
  overflow-x: scroll;
}
@media (min-width: 1100px) {
  .layout-card .cards {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.layout-card .card {
  width: 300px;
  height: 400px;
  margin: 1rem 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.layout-card .card .img-box {
  flex: 1;
  overflow: hidden;
  object-fit: cover;
}

.layout-card .card .content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-card .card .content-box h3 {
  text-align: center;
  margin-bottom: 1rem;
}
